.title {
  margin-bottom: 0px !important;
}

.startRttQuizzer {
  width: 98.125%;
}

.stepButton {
  width: 90%;
}

.jumpToQuestion {
  width: 50px !important;
}

.incorrectQuestionsList {
  margin-top: 8px;
  max-height: 300px;
  overflow-y: scroll;
}

.optionButton {
  display: inline-block;
  font-size: 20px !important;
  height: 64px !important;
  margin: 24px 0px;
  text-align: left !important;
  width: 100%;
}

.resultBreakdown {
  margin-top: 32px;
  font-size: 16px;
}

.resultCircle {
  text-align: center;
  width: 100%;
}
