.incorrectQuestionColumn {
  max-width: 62.5% !important;
}

.incorrectQuestionsList {
  margin-top: 8px;
  max-height: 300px;
  overflow-y: scroll;
}

.incorrectQuestionsRow {
  width: 100%;
}

.jumpToQuestion {
  margin-top: 4px;
}

.jumpToQuestionInput {
  width: 45px !important;
}

.optionButton {
  font-size: 20px !important;
  height: auto !important;
  min-height: 64px !important;
  margin: 24px 0px;
  padding: 24px !important;
  text-align: left !important;
  width: 100%;
  white-space: normal !important;
}

.resultBreakdown {
  margin-top: 32px;
  font-size: 16px;
}

.resultCircle {
  text-align: center;
  width: 100%;
}
.startRttQuizzer {
  width: 98.125%;
}

.stepButton {
  width: 90%;
}

.title {
  margin-bottom: 0px !important;
}
